.carousel-inner img {
      width: 100%;
      height: 100%;
  }
 .body1
 {
 	background-color: #ffcc99;
 }

 .back
 {
 	background-color: #ff9933;
 }

 #card1
 {
  width: 500px;
 }
 .topnav-right {
  float: right;
}

 
 
 
 